{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "lcard">
    <div class = "login">

        <h1>Login</h1>

        <form method="POST" action="">
                {% csrf_token %}
                <table>
                    <div class="linfo">
                        <tr><input type="text" name="username" placeholder="Username" class="form-control"></tr>
                    </div>
                    <div class="linfo">
                        <tr></tr><input type="password" name="password" placeholder="Password" class="form-control"></tr>
                    </div>
                    <div class="lbutton">
                        <tr><input class="btn login_btn" type="submit" value="Login"></tr>
                    </div>
                </table>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
        <div class="acc">  
            Don't have an account?
        </div>
        <a class="a cracc" href="{% url 'todolist:register' %}">Create Account</a>
    </div>
</div>

{% endblock content %}