{% extends 'base.html' %}

{% block meta %}
<title>Account Registration</title>
{% endblock meta %}

{% block content %}  

<div class="lcard">
    <div class="register">
    
        <h1>Create a New Account</h1>  

            <form method="POST" >  
                {% csrf_token %}  
                <table>  
                    {{ form.as_table }}  
                    <tr>  
                        <td></td>
                        <div class="lbutton">
                            <td><input class="btn login_btn" type="submit" name="submit" value="Create"/></td>
                        </div>  
                    </tr>  
                </table>
            </form>

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    </div>

</div>  

{% endblock content %}