{% extends 'base.html' %}

{% block content %}
<div class="lcard">
    <div class="register">
        <h3>{{username}} To-Do List</h3>

        <div class="icard" id="icard">
        </div>

        <div class="lbutton">
          {% csrf_token %}  
            <button class="button lbutton1" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create a New Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <input type="text" name="title" label="Title" required placeholder="Title" class="form-control" id="addtitle">
                      </div>
                      <div class="mb-3">
                        <input type="text" name="description" label="Description" required placeholder="Description" class="form-control" id="adddesc">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input class="btn login_btn" type="submit" value="Save">
                  </div>
                </div>
              </div>
            </div>

            <button class="button lbutton1"><a class="a link" href="{% url 'todolist:logout' %}">Logout</a></button>
        </div>
    </div>
</div>

<script type="text/JavaScript">
    $(document).ready(() => {
      const url = "http://localhost:8000/todolist/json/"
      $.get(url, (data) => {
        data.forEach((item) => {
          var item_title = item.fields.title;
          var item_date = item.fields.price;
          var item_description = item.fields.description;
          document.getElementById("icard").innerHTML += "<div class=\"item\" id=\"item\"><h5>" + item_title + "<h6>" + item_date + "<p>" + item_description;
        });
      });
      const exampleModal = document.getElementById('exampleModal')
      exampleModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const recipient = button.getAttribute('data-bs-whatever')
        const url = "http://localhost:8000/todolist/json/"
        
        $.post(url, (data) => {
          var item_title = document.getElementById("addtitle");
          var item_desc = document.getElementById("adddesc");
        })
        const modalTitle = exampleModal.querySelector('.modal-title')
        const modalBodyInput = exampleModal.querySelector('.modal-body input')
      })
    });
</script>

{% endblock content %}