{% extends 'base.html' %}

{% block content %}
<div class="lcard">
    <div class="register">
        <h3>{{username}} To-Do List</h3>

        <div class="icard">
        {% for item in list_item %}
            <div class="item">
                <h5>{{item.title}}</h5>
                <h6>{{item.date}}</h6>
                <p>{{item.description}}</p>
            </div>
        {% endfor %}
        </div>

        <div class="lbutton">
            <button class="button lbutton1"><a class="a link" href="{% url 'todolist:new_task' %}">Create New Task</a></button>

            <button class="button lbutton1"><a class="a link" href="{% url 'todolist:logout' %}">Logout</a></button>
        </div>
    </div>
</div>
{% endblock content %}